@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 12%;
    --foreground: 0 0% 100%;

    --card: 0 0% 12%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 100%;

    --primary: 48 100% 50%;
    --primary-foreground: 0 0% 0%;

    --secondary: 118 100% 10%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 16%;
    --muted-foreground: 0 0% 69%;

    --accent: 48 100% 50%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 118 100% 10%;
    --input: 0 0% 16%;
    --ring: 118 100% 10%;
    --card-text-color: 145 50% 20%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 12%;
    --foreground: 0 0% 100%;

    --card: 0 0% 12%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 100%;

    --primary: 48 100% 50%;
    --primary-foreground: 0 0% 0%;

    --secondary: 118 100% 10%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 16%;
    --muted-foreground: 0 0% 69%;

    --accent: 48 100% 50%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 118 100% 10%;
    --input: 0 0% 16%;
    --ring: 118 100% 10%;
    --card-text-color: 145 50% 20%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    background-image: linear-gradient(hsla(118, 100%, 10%, 0.05) 1px, transparent 1px),
      linear-gradient(to right, hsla(118, 100%, 10%, 0.05) 1px, transparent 1px);
    background-size: 20px 20px;
  }
}

.card-glow {
  box-shadow: 0 0 20px 0 hsla(118, 100%, 10%, 0.5);
}

.text-card-title {
  color: hsl(var(--card-text-color));
}
